/*admin product container styles start*/
.admin__productList {
    width: 100%;
    margin: 40px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: space-between;
    gap: 24px;
}

.admin__productItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: -2px 2px 20px -1px rgba(113, 113, 113, 0.20);
    min-height: 300px;
}

.admin__productImage {
    margin-top: 11px;
    text-align: center;
    display: block;
    max-width: 155px;
    max-height: 160px;
}

.admin__productTitle, .admin__productCost, .admin__productEdit{
    margin-top: 10px;
}
.admin__productTitle {
    width: 200px;
    overflow: hidden;
    color: #063A88;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 300;
}

.admin__productDescription{
    width: 200px;
    overflow: hidden;
    color: #063A88;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 300;
    display: none;
}
.admin__productCost {
}
.admin__productDelete {
    position: absolute;
    bottom: 9%;
    right: 8%;
}

.admin__productEdit {
    border-radius: 8px;
    border: 2px solid #0C68F4;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: 400;
    color: #0C68F4;
}

.admin__productEdit:hover, .admin__productEdit:active, .admin__productEdit:focus {
    background-color: #0C68F4;
    color: #FFFFFF;
    transition: 0.3s;
}
.admin__productStatus {
    width: 70px;
}
.activeStatus {
    padding: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #146C43;
}
.non-activeStatus {
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #C91433;
}
/*admin order content styles start*/
.account__ordersContainer {
    margin-top: 24px;
    max-width: 922px;
    width: 100%;
}

.adminOrder, .adminUser {
    padding: 15px;
    width: 150%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    max-width: 1100px;
}

.adminOrder {
    border-radius: 6px;
    margin-bottom: 5px;
}

.account__ordersInfoList {
    width: 100%;
    padding: 16px;
    border-radius: 4px;
    background: #F6F6F6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
}

.admin__usersInfoList {
    width: 100%;
    padding: 16px;
    border-radius: 4px;
    background: #F6F6F6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.account__ordersInfoItem {
    max-width: 240px;
    width: 100%;
}

.account__userInfoItem {
    max-width: 260px;
    width: 100%;
    position: relative;
}

.account__ordersInfoTitle {
    color: #0C0C0C;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.account__ordersInfoSubtitle {
    width: 100%;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0C0C0C;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
}

.account__ordersProductInfo {
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.account__ordersImagesItem {
    max-width: 109px;
    width: 100%;
}

.account__ordersImage {
    display: block;
    width: 100px;
    height: 100px;
}

.admin__userDelete {
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin__userDelete img {
    display: block;
    width: 20px;
}

/*database styles*/
.admin__databaseCont {
    margin-top: 40px;
    padding: 30px;
    min-width: 640px;
    border-radius: 6px;
    border: 2px solid #C91433;
}

.account__title {
}

.admin__databaseList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 15px;
    margin-left: 20px;
}

.admin__databaseItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.admin__databaseTitle {
    font-size: 18px;
}

.admin__databaseBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
    color: #C91433;
    border: 2px solid #C91433;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
}

.admin__databaseBtn:hover, .admin__databaseBtn:active{
    color: #FFFFFF;
    background-color: #C91433;
    transition: 0.3s;
}

.admin__databaseBtn img{
    display: block;
    width: 25px;
    height: 25px;
}

/*admin create styles*/
.admin__create {
    /*margin-top: 30px;*/
}

.admin__createForm{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 930px;
    flex-wrap: wrap;
}

.admin__createLabel {
    font-size: 16px;
    font-weight: 400;
}

.admin__createForm #name, .admin__createForm #description, .admin__createForm #price{
    border-radius: 5px;
    border: 1px solid rgba(12, 104, 244, 0.4);
    padding: 5px;
    font-size: 16px;
    width: 440px;
    color: #0C0C0C;
}

.admin__createBtn {
    border-radius: 8px;
    border: 2px solid #0C68F4;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #0C68F4;
    margin-top: 25px;
    width: 100%;
    text-transform: uppercase;
}

/*input styles*/

.admin__createForm_wrapper {
    position: relative;
    height: 350px;
    width: 100%;
    border: 2px dashed #0C68F4;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.active-wrapper {
    border: none;
}

.admin__createForm_image {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin__createForm_image img {
    display: none;
    height: 72%;
    max-width: 430px;
    object-fit: cover;
    background-color: #fff;
}

.admin__createForm_icon img{
    display: block;
    width: 200px;
}

.admin__createForm_text {
    font-size: 20px;
    font-weight: 500;
    color: #444444;
    margin-top: 20px;
}
.admin__createForm_container {
    height: 155px;
    display: flex;
    width: 900px;
    align-items: flex-start;
    justify-content: space-between;
}

.admin__createForm_mainImg {
    width: 50%;
}

.admin__textarea {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.admin__textareaLabel {
    padding-left: 10px;
    font-size: 14px;
}

.admin__createFieldset {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 17px 10px;
    max-width: 410px;
    margin-bottom: 10px;
}

.selectTag {
    flex: 1 1 30%;
    max-width: 120px;
}

#admin__createForm_cancelBtn, #admin__createForm_fileName {
    position: absolute;
}

#admin__createForm_cancelBtn {
    right: 15px;
    top: 15px;
    cursor: pointer;
    display: none;
}

.active-wrapper:hover #admin__createForm_cancelBtn {
    display: block;
}

#admin__createForm_fileName {
    bottom: 0;
    background: #0951be;
    color: #FFFFFF;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    display: none;
}

.active-wrapper:hover #admin__createForm_fileName {
    display: block;
}

#customBtn {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    display: block;
    background: #FFFFFF;
    color: #0C68F4;
    border: 1px solid #0C68F4;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: none;
}

.adminSection__noResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
    left: 60%;
}

.admin__uploadMore_wrapper {
    margin-top: 24px;
    max-width: 410px;
}
#images {
    display: none;
}

.admin__uploadBtn {
    border: 1px solid #0C68F4;
    border-radius: 6px;
    padding: 10px;
    color: #0C68F4;
    font-size: 14px;
    width: 100%;
}

.preview-images {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 16px;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.preview-images img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.preview-image {
    position: relative;
    max-width: 27%;
    max-height: 20%;
}

.preview-image:hover .preview-remove, .preview-image:hover .preview-info {
    opacity: 1;
}

.preview-remove {
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    transition: opacity .22s;
}

.preview-info {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 22px;
    background: #0951be;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    padding: 0 5px;
    transition: opacity .22s;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.preview-name {
    font-size: 12px;
    width: 104px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.preview-image-hide {
    background-color: #EDEDED;
    width: 82px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createStatus__text {
    margin-top: 5px;
    color: #717171;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
}