.detail {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 85px;
    margin-top: 50px;
}

.detail__title h2, .detail__cost {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}


.techDetail__description {
    padding: 20px 0;
    text-align: left;
    max-width: 550px;
}

.detail__imgContainer, .detailModal__imgContainer {
    position: relative;
    display: flex;
    width: 690px;
    min-height: 150px;
    gap: 40px;
    height: 470px;
}

.detailModal__imgContainer {
    height: auto;
    display: flex;
    align-items: center;
    width: 90%;
}

.slider-nav {
    width: 82px;
    margin-right: 20px;
}

.detailSlider-nav {
    width: 82px;
    margin: 20px 40px 20px 20px;
    max-height: 570px;
    overflow-y: scroll;
}

.detailSlider-nav::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Для Firefox */
.detailSlider-nav {
    scrollbar-width: none;
}

.slider-nav__item, .detailSlider-nav__item {
    height: 82px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: -2px 2px 20px -1px rgba(113, 113, 113, 0.20);
    cursor: pointer;
}

.slider-nav__item img, .detailSlider-nav__item img {
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.slider-nav__item:not(:last-child), .detailSlider-nav__item:not(:last-child) {
    margin-bottom: 14px;
}

.slider-block, .detailSlider-block {
    width: calc(100% - 82px - 20px);
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: -2px 2px 20px -1px rgba(113, 113, 113, 0.20);
}

.detailSlider-block {
    height: 490px;
    width: calc(100% - 82px - 40px);
}

.swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    display: block;
    max-height: 85%;
    max-width: 85%;
}

.detail__infoContainer {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
}

.btnContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.detail__buyBtn {
    margin: 10px auto;
    padding: 12px 16px;
    border-radius: 8px;
    border: 2px solid rgba(12, 104, 244, 1);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    background-color: rgba(12, 104, 244, 1);
    color: rgba(255, 255, 255, 1);
}

.detail__buyBtn:hover, .detail__buyBtn:active, .detail__buyBtn:focus {
    background-color: #021736;
    border: 2px solid #021736;
    transition: 0.3s;
}

.detail__brandContainer {
    align-self: flex-start;
}

.detail__brandList {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}

.detail__brandItem {
    border-radius: 8px;
    border: 1px solid #0C0C0C;
    padding: 8px;
}

.detail__brandLink {
    color: #0C0C0C;
    font-size: 16px;
    font-weight: 400;
}

.detail__brandLink:hover, .detail__brandLink:active {
    color: #0C68F4;
    transition: 0.3s;
    -webkit-box-shadow: 5px 5px 100px 10px rgba(12, 104, 244, 0.3);
    -moz-box-shadow: 5px 5px 100px 10px rgba(12, 104, 244, 0.3);
    box-shadow: 5px 5px 100px 10px rgba(12, 104, 244, 0.3);
}

.detailModal-open {
    height: 82px;
    width: 100%;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.detailModal-open__text {
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    padding: 6px;
    color: #444444;
}