@media (max-width: 2560px) {
    .header__link {
        font-size: 2rem;
    }
    .wrapper {
        padding: 0;
    }
    .section__banner {
        width: 110%;
    }
    .banner__link img {
        margin-bottom: 15px;
    }
    .detail {
        margin-top: 150px;
        margin-bottom: 291px;
    }
    .mainSection__noResults {
        margin-bottom: 349px;
    }
    .order {
        margin-bottom: 427px;
    }
    .account {
        margin: 50px auto 323px;
    }
    .nav-container .hamburger-lines {
        display: none;
    }
    .account__sideBarBtn img {
        display: block;
    }
}

@media (max-width: 1680px) {
    .header__link {
        font-size: 25px;
    }
    .section__banner {
        width: 100%;
    }
    .wrapper {
        padding: 0 95px;
    }
    .detail {
        margin-top: 50px;
        margin-bottom: 75px;
    }
    .mainSection__noResults {
        margin-bottom: 32px;
    }
    .order {
        margin-bottom: 111px;
    }
    .account {
        margin: 50px auto 129px;
    }
}

@media (max-width: 1536px) {}

@media (max-width: 1440px) {
    .banner__link img {
        max-width: 720px;
        min-height: auto;
        height: 370px;
    }
    body {
        overflow-x: clip;
    }
    .search__container {
        right: 255px;
    }
    .modalCard__title {
        margin-top: 20px;
    }
    .modalCard__form {
        gap: 10px;
    }
    .modalCard {
        padding: 14px 60px;
    }
    .modalResponse {
        margin-bottom: 5px;
    }
    .account__ordersContainer {
        max-width: 900px;
    }
    .adminOrder {
        max-width: 580px;
        width: 100%;
    }
    .account__ordersInfoList {
        justify-content: space-evenly;
    }
}

@media (max-width: 1366px) {
    .section__banner {
        width: 110%;
    }
    .aside__img {
        display: block;
        max-width: 120px;
    }
    .banner__link img {
        max-width: 690px;
        height: 360px;
    }
    .search__container {
        right: 215px;
    }
    .filter {
        width: 100%;
    }
    .productSection {
        flex-direction: column;
    }
    .account__main {
        max-width: 778px;
    }
    .admin__productList {
        grid-template-columns: repeat(3, 250px);
        gap: 14px;
    }
    .admin__createForm_container{
        height: auto;
    }
    .admin__createFieldset {
        max-width: 100%;
    }
    .admin__createForm #name, .admin__createForm #description, .admin__createForm #price {
        width: 100%;
    }
    .selectTag {
        flex: 1 1 25%;
        max-width: 99px;
        text-wrap: nowrap;
    }
    .admin__createForm {
        flex-direction: column;
    }
    .admin__createBtn {
        width: 100%;
        margin-top: 12px;
        min-height: 50px;
        font-size: 20px;
        text-transform: uppercase;
    }
}

@media (max-width: 1280px) {
    .banner__img {
        display: block;
        max-width: 670px;
    }
    .banner__link img {
        max-width: 630px;
        height: 310px;
    }
    .aside__list {
        gap: 20px;
    }
    .aside__img {
        max-width: 110px;
    }
    .search__container {
        right: 175px;
    }
    .account__sidebar {
        width: 188px;
    }
    .account__sideBarBtn {
        gap: 10px;
        font-size: 16px;
    }
    .account__sideBarBtn img {
        display: none;
    }
    #user {
        padding: 28px 30px 82px;
    }
}

@media (max-width: 1180px) {
    h1 {
        font-size: 48px;
    }
    .banner__btn {
        margin-top: 44px;
    }
    .banner__img {
        max-width: 570px;
    }
    .banner__title {
        font-size: 26px;
    }
    .aside__list {
        gap: 10px;
    }
    .aside__img {
        max-width: 94px;
    }
    .aside__title {
        font-size: 12px;
    }
    .banner__link img {
        max-width: 535px;
        height: 270px;
    }
    .header__link {
        font-size: 22px;
    }
    .search__container {
        right: 175px;
    }
    .toolbar__btn {
        width: 100px;
    }
    .productSection {
        margin-top: 35px;
    }
    .toolbar__list {
        overflow-x: scroll;
        gap: 20px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        -webkit-overflow-scrolling: touch;
    }
    .toolbar__list::-webkit-scrollbar {
        display: none; /* для Chrome, Safari и Opera */
        -ms-overflow-style: none;  /* IE и Edge */
        scrollbar-width: none;
    }
    .mainSection__list {
        grid-template-columns: repeat(3, 235px);
    }
    .mainSection__item {
        width: 235px;
    }
    .detail {
        gap: 30px;
        padding-left: 0;
    }
    .order__formContainer {
        max-width: 520px;
    }
    .order__input {
        width: 450px;
    }
    .account__sidebar {
        display: none;
    }
    .nav-container .hamburger-lines {
        display: flex;
    }
    .account__sideBarBtn img {
        display: block;
    }
    .account__main {
        max-width: 1000px;
        margin: 0 auto;
        width: 100%;
    }
    .adminUser {
        max-width: 100%;
    }
    .adminOrder {
        margin: 0 auto;
        max-width: 900px;
    }
    .account__ordersInfoList {
        justify-content: flex-start;
    }
    .admin__createForm {
        justify-content: center;
        align-items: center;
    }
    .admin__createForm_container {
        width: 100%;
    }
    .account__editData {
        margin: 23px auto 0;
    }
    .title__container {
        max-width: 850px;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
    .adminSection__noResults {
        top: 0;
        left: 0;
    }
}

@media (max-width: 1024px) {
    .main {
        margin-top: 35px;
    }
    .banner__img {
        max-width: 450px;
    }
    h1 {
        font-size: 35px;
    }
    .banner__text {
        margin-top: 26px;
    }
    .banner__title {
        margin-top: 30px;
        font-size: 23px;
    }
    .banner__btn {
        margin-top: 42px;
        width: 80%;
        min-height: 43px;
    }
    .aside__list {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .aside__img {
        max-width: 110px;
    }
    .aside__title {
        font-size: 15px;
    }
    .banner__link img {
        max-width: 380px;
        height: 180px;
    }
    .search__container {
        right: -38px;
    }
    .toolbar__btn {
        width: 90px;
    }
    .mainSection__item {
        width: 275px;
    }
    .mainSection__list {
        grid-template-columns: repeat(2, 275px);
    }
    .order {
        flex-direction: column;
        align-items: center;
    }
    .order__details {
        max-width: 520px;
        width: 100%;
        order: -1;
    }
    .admin__productList  {
        grid-template-columns: repeat(3, 200px);
        gap: 10px;
    }
    .admin__productTitle {
        width: 170px;
    }
    .title__container {
        width: 100%;
    }
    .admin__usersInfoList {
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 30px;
    }
    .account__userInfoItem {
        max-width: 175px;
    }
    .admin__edit {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .account__editData {
        justify-content: center;
    }
    .user__titleContainer {
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 765px) {
    .wrapper {
        padding: 0 45px;
    }
    .detail {
        flex-direction: column;
    }
    .detail__infoContainer {
        align-items: center;
    }
    .admin__databaseCont {
        min-width: 100%;
    }
    .admin__productList {
        grid-template-columns: repeat(2, 250px);
        gap: 20px 30px;
    }
    .user__ordersInfoList {
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 11px;
    }
    .user__ordersInfoItem {
        max-width: 206px;
    }
}

@media (max-width: 680px) {
    .banner__img {
        max-width: 330px;
    }
    h1 {
        font-size: 30px;
    }
    .banner__title {
        font-size: 20px;
    }
    .banner__text {
        padding-top: 0;
        margin-top: 15px;
    }
    .banner__btn {
        margin-top: 30px;
        font-size: 15px;
    }
    .aside__list {
        justify-content: center;
        gap: 35px;
    }
    .aside__img {
        max-width: 130px;
    }
    .banners-section {
        flex-wrap: wrap;
        justify-content: center;
    }
    .banner__link {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .banner__link img {
        max-width: 80%;
        height: auto;
    }
    .search__container {
        min-width: 470px;
        right: -45px;
    }
    .mainSection__item {
        width: 200px;
    }
    .mainSection__list {
        grid-template-columns: repeat(2, 200px);
    }
    .mainSection__img {
        max-width: 175px;
        max-height: 100px;
    }
    .description__title {
        font-size: 14px;
    }
    .order__formContainer {
        max-width: 445px;
    }
    .order__input {
        width: 390px;
    }
    .modalCard {
        width: 400px;
        padding: 14px 40px;
    }
    .modal__item {
        padding: 8px 5px;
    }
    .modal__link {
        font-size: 16px;
    }
    .modalCard__title {
        font-size: 27px;
        margin-bottom: 5px;
    }
    .modalCard__availability {
        margin: 5px auto;
    }
    .admin__productList {
        grid-template-columns: repeat(2, 200px);
        gap: 20px;
    }
    .account__ordersInfoList {
        justify-content: center;
    }
    .admin__DbForm {
        width: 350px;
    }
    .user__titleContainer {
        width: 80%;
    }
    .user__ordersInfoList {
        justify-content: center;
        gap: 15px;
    }
    .user__ordersInfoSubtitle {
        margin-top: 20px;
        font-size: 17px;
    }
}

@media (max-width: 534px) {
    .header__logo {
        display: block;
        max-width: 40px;
    }
    .header__list {
        gap: 17px;
    }
    .header__link {
        font-size: 19px;
    }
    .banner__img {
        display: none;
    }
    .aside__list {
        gap: 8px;
    }
    .banner__link img {
        width: 100%;
        max-height: 220px;
    }
    .footer__info {
        gap: 60px;
    }
    .section__banner {
        width: 100%;
        justify-content: center;
    }
    .banner__text {
        text-align: center;
    }
    h1 {
        font-size: 40px;
    }
    .banner__title {
        font-size: 22px;
    }
    .user__list {
        top: 53px;
    }
    .search__container {
        min-width: 380px;
        top: 53px;
    }
    .search__input {
        min-width: 320px;
    }
    .mainSection__list {
        gap: 20px;
        grid-template-columns: repeat(2, 165px);
    }
    .mainSection__item {
        padding: 10px;
        width: 100%;
    }
    .mainSection__link {
        height: 100%;
    }
    .mainSection__img {
        max-width: 145px;
        height: 100%;
    }
    .order__formContainer {
        max-width: 430px;
    }
    .order__input {
        width: 290px;
    }
    .admin__usersInfoList {
        justify-content: center;
    }
    .admin__productList {
        grid-template-columns: repeat(2, 165px);
        gap: 20px;
    }
    .admin__productImage {
        max-width: 140px;
    }
    .admin__productTextContainer {
        max-width: 95%;
    }
    .admin__productTitle {
        width: 142px;
    }
    .admin__productItem {
        min-height: 270px;
    }
    .admin__productEdit {
        font-size: 14px;
        padding: 8px 6px;
    }
    .admin__editInput {
        width: 360px;
    }
}

@media (max-width: 430px) {
    .aside__img {
        max-width: 110px;
    }
    .company__link {
        font-size: 15px;
        line-height: 20px;
    }
    .footer__info {
        gap: 50px;
    }
    .search__container {
        min-width: 330px;
        right: -52px;
    }
    .toolbar__item {
        width: 90px;
    }
    .toolbar__btn {
        width: 80px;
    }
    .toolbar__category {
        font-size: 17px;
    }
    .mainSection__list {
        grid-template-columns: repeat(2, 135px);
    }
    .mainSection__link {
        gap: 15px;
    }
    .mainSection__img {
        max-width: 120px;
    }
    .detail__imgContainer {
        width: 370px;
    }
    .detail__slider {
        flex-wrap: wrap;
        width: 65%;
    }
    .detail__slider img {
        width: calc(50% - 5px);
        height: auto;
    }

    .order__formContainer {
        max-width: 300px;
    }
    .order__input {
        width: 250px;
    }
    .modalCard {
        height: 100%;
    }
    .admin__productList {
        grid-template-columns: repeat(2, 150px);
        gap: 15px;
    }
    .admin__productImage {
        max-width: 110px;
    }
    .admin__productTitle {
        width: 125px;
    }
    .admin__databaseCont {
        padding: 20px;
    }
    .admin__databaseList {
        margin-left: 0;
    }
    .admin__databaseBtn {
        padding: 5px;
        gap: 0;
        font-size: 14px;
    }
    .editData__form {
        width: 330px;
    }
    #user {
        padding: 12px 30px;
    }
}

@media (max-width: 390px) {
    .aside__item {
        padding: 8px 15px;
    }
    .aside__img {
        max-width: 108px;
    }
    .aside__list {
        justify-content: flex-start;
    }
    .footer {
        margin-top: 50px;
    }
    .footer__info {
        gap: 35px;
    }
}

@media (max-width: 375px) {}



