.modal {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    gap: 30px;
    align-items: flex-start;
    backdrop-filter: blur(30px);
}

.modalCard {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 41px 80px 24px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.5);
    transform: translate(-50%, -50%);
}
.signUp{
    opacity: 0;
    pointer-events: none;
}
.show__signUp .signUp{
    opacity: 1;
    pointer-events: auto;
}


.modalResponse {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 11px;
    width: 100%;
    height: 30px;
}

.invalidField{
    background-color: #FFD580;
}

.modal__list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-bottom: 2px solid #CBCBCB;
}

.modal__item {
    width: 100%;
    padding: 8px 12px;
    text-align: center;
}

.activeModalItem
{
    border-bottom: 2px solid #0C68F4;
}

.modal__link {
    width: 100%;
    color: #717171;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
}

.activeModalLink {
    color: #0C68F4;
}

.modalCard__title {
    color: #0C0C0C;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 10px;
}

.modalCard__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.modalCard__form_input {
    border-radius: 8px;
    border: 1px solid #B4B4B4;
    color: #2D2D2D;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding: 12px 8px 12px 44px;
    width: 100%;
}

.modalField {
    position: relative;
    width: 100%;
}

.modalField__img{
    position: absolute;
    top: 12px;
    left: 12px;
}

.modalField__eye{
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}


.keepLog {
    color: #717171;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 48px;
}

.keepLog__input {
}

.modalCard__btn {
    width: 100%;
    padding: 10px 16px;
    border-radius: 8px;
    background: #0C68F4;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.modalCard__availability {
    margin: 24px auto 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.modalCard__availability_text {
    color: #717171;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.modalCard__availability_btn {
    color: #0C68F4;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.modalCard__link {
    color: #0C68F4;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.keepLog__link{
    color: #0C68F4;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-decoration-line: underline;
}

/*order modal styles start*/
.orderModal {
    overflow: hidden;
    /*position: fixed;*/
    top: 30%;
    left: 39%;
    z-index: 3;
    border-radius: 8px;
    /*border: 1px solid #EDEDED;*/
    background: #FFF;
    /*box-shadow: 0 0 0 9999px rgba(0,0,0, 0.7);*/
}
.orderModalSuccess {
    overflow: hidden;
    /*position: fixed;*/
    top: 30%;
    left: 35%;
    z-index: 3;
    border-radius: 8px;
    /*border: 1px solid #EDEDED;*/
    background: #FFF;
    /*box-shadow: 0 0 0 9999px rgba(0,0,0, 0.7);*/
}

.orderModal__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 38px 24px;
    margin-top: 28px;
}

.orderStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.orderStatus__img {
    display: block;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -2px 2px 20px -1px rgba(113, 113, 113, 0.4);
}

.orderStatus__text {
    color: #146C43;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.orderStatus__text span {
    margin-top: 5px;
    color: #717171;
    font-size: 16px;
    font-weight: 300;
    line-height: 10%;
}

.orderModal__btn {
    margin-top: 48px;
    padding: 16px;
    border-radius: 8px;
    background: #0C68F4;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

/*admin edit modal styles start*/
.admin__edit {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 20%;
    left: 30%;
    z-index: 3;
    border-radius: 8px;
    border: 1px solid #EDEDED;
    background: #FFF;
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.7);
    padding: 30px;
}

.admin__editTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

.admin__editTitleContainer h2 {
    color: #0C0C0C;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    line-height: normal;
}

.closeModal img {
    display: block;
    width: 30px;
}

.admin__editForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.admin__editInput {
    margin-top: 3px;
    width: 428px;
    padding: 4px;
    overflow: hidden;
    color: #717171;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    border-radius: 8px;
    border: 1px solid #F6F6F6;
    background: #F9F9F9;
}

.admin__editLabel {
    margin-top: 14px;
}

.admin__editUpdateBtn, .adminDbFormCancel, .adminDbFormBtn {
    margin-top: 14px;
    border-radius: 8px;
    border: 2px solid #0C68F4;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 400;
    color: #0C68F4;
}

.admin__editUpdateBtn:hover, .adminDbFormCancel:hover, .adminDbFormBtn:hover {
    background-color: #0C68F4;
    color: #FFFFFF;
    transition: 0.3s;
}

/*admin database styles start*/
#adminDbModalDelete, #adminDbModalCreate {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    gap: 30px;
    align-items: flex-start;
    display: none;
}

.admin__DbForm {
    position: absolute;
    top: 25%;
    left: 32%;
    z-index: 4;
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 41px 80px 24px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.5);
}

.admin__DbForm_btnContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.adminDbModalText{
    font-size: 19px;
    text-align: center;
}

.emptyForBlur{
    /*min-height: 100vh;*/
}

/*account modal windows styles start*/
#accountNameModal, #accountEmailModal, #accountSurnameModal,
#accountPasswordModal, #accountAddressModal, #accountPostalCodeModal{
    display: none;
    width: 392px;
    height: 310px;
    padding: 24px;
    border-radius: 8px;
    background: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    transform: translate(-50%, -50%);
    z-index: 99;
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.5);
}

.accountModal__window {
    max-width: 100%;
    overflow: visible;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    transform: scale(0.9);
}

.accountModal__shadow {

}

.accountModal__titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accountModal__title {
    color: #444;
    font-size: 20px;
    font-weight: 500;
}

.accountModal__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    margin-top: 43px;
    width: 100%;
}

.accountModal__formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.accountModal__label {
    font-size: 12px;
    font-weight: 300;
    color: #717171;
    padding-left: 22px;
}

.accountModal__input:disabled, .accountModal__input {
    background-color: inherit;
    color: #717171;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    border-radius: 8px;
    border: 1px solid #B4B4B4;
    width: 100%;
    min-height: 48px;
    padding: 0 12px;
}


.accountModal__input:focus{
    color: #0C68F4;
    border-radius: 8px;
    border: 1px solid #428AF6;
    -webkit-box-shadow: 4px 0px 4px 0px rgba(66, 138, 246, 0.5);
    -moz-box-shadow: 4px 0px 4px 0px rgba(66, 138, 246, 0.5);
    box-shadow: 4px 0px 4px 0px rgba(66, 138, 246, 0.5);
}

.accountModal__submitBtn {
    width: 162px;
    min-height: 48px;
    align-self: flex-end;
    padding: 8px 16px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: #0C68F4;
}

/*Success update modal window styles start*/
#successUpdateModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.successUpdateModal__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #f2f2f2;
    margin: 15% auto;
    padding: 10px 20px 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 5px;
    position: relative;
}

.successUpdateModal__close {
    color: #aaa;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
}

.successUpdateModal__close:hover,
.successUpdateModal__close:focus {
    color: #444444;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.successUpdateModal__text {
    text-align: center;
    line-height: 24px;
}

.successUpdateModal__refresh {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #0C68F4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.successUpdateModal__refresh:hover {
    background-color: #021736;
    transition: 0.3s;
}